.portfolioItemSmallText {
  font-size: 10px;
}

.portfolioSection {
  font-family: 'Open Sans', sans-serif;
  padding: 20px;
  width: 100%;
  background-color: #f2f2f2;
}

.portfolioItemContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.githubLink {
  color: black;
  text-decoration: underline;

  animation-name: linkColorFlash;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.githubLinkText {
  padding-bottom: 20px;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

@keyframes linkColorFlash {
  0% {
    color: black;
  }
  20% {
    color: red;
  }
  30% {
    color: orange;
  }
  40% {
    color: green;
  }
  50% {
    color: blue;
  }
  60% {
    color: black;
  }
}